body {
    background-color: rgb(43, 43, 43);
    font: calc(0.40rem + 1vmin) monospace;


}.mainbox-txt {

    margin-bottom: 0;
    font-size: 35px;
    margin-top: 0;
    color: rgb(206, 184, 141);
}

.mainbox-footer {
    margin-bottom: 0;
    font-size: 25px;
    margin-top: 35px;
    color: rgb(206, 184, 141);
}

.mainbox-link:hover {
    color: rgb(88, 86, 86);
}

.mainbox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 200px;
    
}

 @media (max-width: 767px) {
    .mainbox {
      width: 90%;
      margin-left: 0px;
    }
    .mainbox-txt {
        font-size: 30px;
    }
}