body {
    background-color: rgb(43, 43, 43);
    font: calc(0.40rem + 1vmin) monospace;


}.mainbox-txt {

    margin-bottom: 0;
    font-size: 35px;
    margin-top: 0;
    color: rgb(206, 184, 141);
}

.mainbox-footer {

    margin-bottom: 0;
    font-size: 25px;
    margin-top: 35px;
    color: rgb(206, 184, 141);
}

.mainbox {
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-left: 200px;
    
}